body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* .app {
    margin: 10px;
} */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.adminPanel {
    background-color: black;
    color: lightgrey;
    padding: 10px;
}

.bookView {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.orderView {
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.goToAdmin {
    right: 50px;
    top: 50px;
    position: absolute;
}

.loginForm {
    padding: 5px;
    margin: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

.footer small {
    padding: 5px;
}
.footer strong {
    padding: 5px;
}
